body
{
    background-color:lightseagreen;
    color:black;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 100%;
}
button
{
	width: auto;
	height: auto;
	font-size: 16pt;
	margin: 0 auto;
    padding: 8px 12px;
	display: block;
    background-color: yellow; 
    color: red;               
}

h1
{
    font-size: 200%;
}
h2
{
    font-size: 200%;
}
section
{
    margin: 50px 0;
}
p
{
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    color:darkblue;
}